version: '3.2'
services:
  frontend:
    build:
      context: ..
      dockerfile: ci/frontend/development.dockerfile
    environment:
      - WEBPACK_SERVE_PORT=8080
      - WEBPACK_SERVE_HOST=0.0.0.0
      - WEBPACK_SERVE_HOT_CLIENT_PORT=41565
    ports:
      - "8080:8080"
      - "41565:41565"
    volumes:
      - type: bind
        source: ../frontend/src
        target: /opt/app/frontend/src
        read_only: true
      - type: bind
        source: ../frontend/assets
        target: /opt/app/frontend/assets
        read_only: true

  backend:
    build:
      context: ..
      dockerfile: ci/backend/development.dockerfile
    environment:
      - API_PORT=8081
    ports:
      - "8081:8081"
    volumes:
      - type: bind
        source: ../backend/src
        target: /opt/app/backend/src
        read_only: true
